html {
	font-family: Palatino, Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 10px;
}

h1 {
	text-align: left;
	font-weight: normal;
	font-size: 2rem;
	border-bottom: 1px solid grey;
	padding-bottom: 10px;
}

h2 {
	font-weight: inherit;
	font-size: 1.5rem;
}

ul {
	margin 0 auto;
	padding: 0;
}

ul li {
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	font-size: medium;
}
