html {
	font-size: 10px;
}

body { 
	font-family: Cambria, Georgia, serif;
	font-weight: normal;
	line-height: 1.6;
	max-width: 700px;
	text-align: justify;
	margin: 0 auto;
}

h1 {
	font-family: Consolas, "Lucida Sans Typewriter", "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 2.5rem;
}

h2 {
	font-family: Consolas, "Lucida Sans Typewriter", "Courier New", Courier, monospace;
	font-weight: normal;
	font-size: 2rem;
}

p {
	font-size: 1.6rem;
}

ul, ol {
	margin 0 auto;
	padding: 0;
	font-size: 1.6rem;
}

ul li {
	list-style-type: none;
	margin: 2px;
	padding: 2px;
	font-size: 1.6rem;
}

footer {
	margin-top: 32px;
	margin-bottom: 32px;
	font-size: 1.6rem;
	text-align: right;
}

.def {
	background-color: #fffad9;
}

.proof {
	font-style: italic;
	background-color: #d9e7ff;
}
