<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>$if(title-prefix)$$title-prefix$ – $endif$$pagetitle$</title>
  <link rel='stylesheet' type='text/css' href='css/index.css' />
  <script type="text/javascript" src="mathjax-config.js" defer></script>
  <script type="text/javascript" id="MathJax-script" defer src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
$for(include-before)$
$include-before$
$endfor$
$body$
$for(include-after)$
$include-after$
$endfor$
</body>
</html>
